* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    display: grid;
    grid-template-columns: minmax(220px, 250px) 1fr;
    min-height: 100%;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 10px;
    align-items: center;
    justify-items: end;
    padding: 20px 50px 15px 30px;
    background-color: #F28482;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 6px 7px -3px;
}

.search {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar,
input[type="text"]:focus-visible {
    flex-grow: 1;
    border-radius: 15px;
    background-color: #F5CAC3;
    border: none;
    text-indent: 12px;
    font-size: 18px;
    outline: none;
    height: 30px;
}

input[type="text"]:focus-visible {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header-profile-container {
    display: grid;
    grid-template-columns: 1fr 24px 100px;
    align-items: center;
    justify-items: center;
    gap: 25px;
}

.header-profile-container > .material-icons-outlined {
    justify-self: end;
    padding-right: 10px;
}

.search > .material-icons-outlined {
    padding: 10px;
}

.header-profile-container > p {
    justify-self: start;
    font-size: 16px;
    font-weight: 500;
}

.profile-welcome {
    justify-self: start;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 15px 0px 0px 20px;
}

.welcome-message {
    padding-left: 15px;
}

.welcome {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 3px;
}

.username {
    font-weight: 500;
    font-size: 18px
}

.profile-pic-small {
    width: 40px;
    height: 40px;
}

.profile-pic-large {
    width: 60px;
    height: 60px;
}

.profile-pic-large,
.profile-pic-small {
    border-radius: 50%;
    object-fit: cover;
    
}

.action-button-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-self: center;
    padding-left: 30px;
}

.action-button {
    background-color: #F6BD60;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 40px 300px 1fr;
    gap: 50px;
    align-items: start;
    background-color: #F6BD60;
}

.sideboard-button,
.dashboard-logo {
    display: flex;
    align-items: center;
}

p.title {
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.sideboard-button > p {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.dashboard-logo > .material-icons {
    font-size: 36px;
    padding: 24px 14px;
}

.material-icons {
    padding: 12px 20px;
    font-size: 26px;
    color: black;
    
}

.content-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 250px;
    background-color: #84A59D;
    align-items: start;
    padding-top: 10px;
    
}

.projects-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 20px;
    align-items: center;
}

.section-titles {
    grid-column: 1 / -1;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -6px;
    color: black;
    font-weight: 500;
}

.card {
    background-color: #F7EDE2;
    height: 250px;
    padding: 20px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-left: 10px solid #F5CAC3;
    overflow: hidden;
    display: grid;
    grid-template-rows: 20px 150px 5px;
    gap: 5px;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}

.card-content {
    padding-left: 5px;
    overflow: hidden;
    background-clip: text;
    background-image: linear-gradient(to bottom, rgba(247, 237, 226, 0.1), #F7EDE2);
}

.card-icons {
    justify-self: end;
    padding-right: 10px;
}

.card-icons > .material-icons {
    padding: 10px 5px 0px 0px;
    font-size: 20px;
}

.side-content-container {
    grid-column: 2 / 3;
    display: grid;
    padding: 20px 20px 20px 0px;
    gap: 1rem;

}

.announcements-container,
.trending-container {
    display: grid;
    background-color: #F7EDE2;
    padding: 20px 30px;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);

}

.announcements-info {
    padding: 5px 0px 15px 0px;
    font-size: 12px;
}

.announcements {
    border-bottom: 1px solid rgb(168, 168, 168);
}

.announcements:nth-child(3),
.announcements-info:nth-child(3) {
    border-bottom: none;
    padding-bottom: none;
}

.announcements-title {
    font-weight: 500;
    font-size: 14px;

}

.trending-profile {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 15px;
    align-items: center;
}

.trending-user-container {
    display: grid;
    gap: 5px;
}

.trending-user {
    font-size: 12px;
    font-weight: 500;
}

.trending-name {
    font-size: 12px;
    color: rgb(73, 73, 73)
}

.trending-title {
    margin-top: 30px;
}

.announcements, .trending-profile {
    padding: 0px;

}

.trending-profile {
    
}

