* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 10px;
}

.search {
    grid-column: 1 / 2;
    align-items: center;
}

.action-button-container {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
}

.content {
    grid-column: 2 / 3;
    display: grid;
}

